@tailwind base;
@tailwind components;
@tailwind utilities;
.slider{
    scroll-behavior: smooth;
    will-change: scroll-position;
    overflow: overlay ;
}
.slider::-webkit-scrollbar{
    display: none;
}
.btn.active{
    opacity: 0.6;
    cursor: default;
}
#toast{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 9999999;
    position: fixed;
    top: 30px;
}
.toast + .toast{
    margin-top: 20px;
}
.toast.success{
    color: #16a34a;
}
.toast.error{
    color: rgb(220 38 38);
}
.toast.warning{
    color: rgb(202 138 4);
}
.toast{
    min-width: 550px;
    max-width: 600px;
    transition:  all linear .5s;
    animation: sliderIntop ease .7s, fadeOut linear 1s 3s forwards;
}
@keyframes sliderIntop {
    from{
        opacity: 0;
        transform: translateY(calc(-100% - 33px));
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}